---
import { docConfig } from '@/doc-config';
const { siteTitle, siteTitleHref } = Astro.props;
---

<a href={siteTitleHref} class="site-title flex">
  {
    docConfig.logo && docConfig.dark && (
      <>
        <img
          class:list={{ 'light:sl-hidden': !('src' in docConfig.logo) }}
          alt={docConfig.logo.alt}
          src={docConfig.dark.src}
          width={docConfig.dark.width}
          height={docConfig.dark.height}
        />
        {/* Show light alternate if a user configure both light and dark logos. */}
        {!('src' in docConfig.logo) && (
          <img
            class="dark:sl-hidden"
            alt={docConfig.logo.alt}
            src={docConfig.logos.light?.src}
            width={docConfig.logos.light?.width}
            height={docConfig.logos.light?.height}
          />
        )}
      </>
    )
  }
  <span class:list={{ 'sr-only': docConfig.logo?.replacesTitle }}>
    {siteTitle}
  </span>
</a>

<style>
  .site-title {
    align-items: center;
    gap: var(--sl-nav-gap);
    font-size: var(--sl-text-h4);
    font-weight: 600;
    color: var(--sl-color-text-accent);
    text-decoration: none;
    white-space: nowrap;
  }
  img {
    height: calc(var(--sl-nav-height) - 2 * var(--sl-nav-pad-y));
    width: auto;
    max-width: 100%;
    object-fit: contain;
    object-position: 0 50%;
  }
</style>
