---
import "../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);


---

<!doctype html>
<html class="h-full w-full">
    <head>
        <!-- Global Metadata -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />

        <!-- Canonical URL -->
        <link rel="canonical" href={canonicalURL} />

        <!-- Primary Meta Tags -->
        <title>{SITE_TITLE}</title>
        <meta name="title" content={SITE_TITLE} />
        <meta name="description" content={SITE_DESCRIPTION} />
        <link rel="stylesheet" href="/fonts/ChillRoundF/ChillRoundF.css"/>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
            integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV"
            crossorigin="anonymous"
        />
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"
            integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8"
            crossorigin="anonymous"></script>

        <script src="https://at.alicdn.com/t/c/font_4425412_z9b4ty5h5aj.js"
        ></script>
        <slot name="head-end" /></head
    >
    <body class="w-full h-full overflow-x-hidden text-gray-700 dark:text-gray-200"> <slot /></body>
</html>
