---
import "../styles/global.scss";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html data-theme="light" class="h-full w-full">
    <head>
        <!-- Global Metadata -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />

        <!-- Canonical URL -->
        <link rel="canonical" href={canonicalURL} />

        <!-- Primary Meta Tags -->
        <title>{SITE_TITLE}</title>
        <meta name="title" content={SITE_TITLE} />
        <meta name="description" content={SITE_DESCRIPTION} />

        <script src="https://at.alicdn.com/t/c/font_4425412_z9b4ty5h5aj.js"
        ></script></head
    >
    <body class="w-full h-full"><slot /></body>
</html>
